.select {
  position: relative;
}

.select * {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

.select-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.select-options label {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  position: relative;
}

.select-options input[type="checkbox"], .select-options input[type="radio"] {
  display: none;
}

.select-options input[type="checkbox"] + label, .select-options input[type="radio"] + label {
  padding-left: 34px;
}

.select-options input[type="checkbox"] + label::before, .select-options input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ccc;
  margin-right: -20px;
  top: 9px;
  left: 10px;
}

.select-options input[type="checkbox"] + label::before {
  border-radius: 3px;
  content: "\2713";
  font-weight: bold;
  color: #ccc;
  width: unset;
  height: unset;
  padding: 2px 3px 0 3px;
  font-size: 14px;
  line-height: 15px;
}

.select-options input[type="radio"] + label::before {
  border-radius: 50%;
}

.select-options input[type="checkbox"]:checked + label::before {
  color: #fff;
}

.select-options input[type="checkbox"]:checked + label::before, .select-options input[type="radio"]:checked + label::before {
  background-color: #0084ff;
}

.select-options label:hover, .select-options label.hover {
  background-color: #f7f4f2;
}

.select-trigger {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.select-trigger::after {
  content: "";
  top: 50%;
  transform: translate3d(0, -50%, 0);
  width: 14px;
  height: 14px;
  background: url('down_arrow.svg') top left no-repeat;
  background-size: 100%;
  position: absolute;
  display: block;
  transition: all 0.3s;
  right: 10px;
}

.select-trigger.arrow-up::after {
  transform:  translate3d(0, -50%, 0) rotate(180deg);
}

.select-options {
  margin-top: 8px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  /*padding: 10px;*/
  background-color: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  width: 100%;
  box-sizing: border-box;
  top: 102%;
  border-radius: 4px;
}

.select-options.show, .select label + input:focus + div {
  visibility: visible;
  opacity: 1;
  padding-bottom: 6px;
  z-index: 1000;
}